
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// @import '~bootstrap-material-design/scss/bootstrap-material-design';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.edit_a {
  color: $offwhite;
  text-decoration: none; /* no underline */
}

@import 'forms';
@import 'sections';
@import 'screensize';
@import 'helpers';
